@import 'helpers/merge';

html {
    font-size: 62.5%;
    }

html,
body {
    width: 100%;
    height: 100%;

    font-family: $font-proxima;
    }

body {
    -webkit-font-smoothing: antialiased;
    }

$fonts: (
    'ProximaNova': (
        '': (normal, normal),
        'Italic': (normal, italic)
        ),
    'VelodromaBasic': (
        '': (normal, normal)
        ),
    'VelodromaBasicWide': (
        '': (normal, normal)
        )
    );

@each $fontName, $fontVariants in $fonts {
    @each $variant, $fontData in $fontVariants {
        @font-face {
            $name: '#{$fontName}#{$variant}';
            $path: '#{$name}/item';

            font-family: $fontName;
            src: font-url('#{$path}.eot');
            src: font-url('#{$path}.eot?#iefix') format('embedded-opentype'),
                 font-url('#{$path}.woff2') format('woff2'),
                 font-url('#{$path}.woff') format('woff'),
                 font-url('#{$path}.ttf') format('truetype');
            font-weight: nth($fontData, 1);
            font-style: nth($fontData, 2);

            }
        }

    }
