@import 'merge';

$padding: $padding--40;

.section__column {
    width: 100%;
    padding: ($padding + 60) $padding--20 $padding $padding--20;
    display: flex;
    align-items: center;

    box-sizing: border-box;

    @include screen-md {
        width: 50%;
        min-height: 600px;
        padding: ($padding + 60) ($padding + 40) $padding $padding;
        }
    }
