@import 'merge';

.section__description {
    padding-top: $padding--40;

    @include screen-md {
        padding-top: 100px;

        .section.-fixed-prelast & {
            margin-left: 50%;
            }

        #last & {
            margin-left: 50%;
            }
        }

    #start & {
        background-color: $color-red;
        background-image: image-url('background.jpg');
        background-position: 30% 50%;
        background-size: cover;
        }

    #next & {
        background-color: #00a0d4;
        }

    #html & {
        background-color: #ffa800;
        }

    #ios & {
        background-image: linear-gradient(0, #ff4e37, #6833ff);
        }

    #tech & {
        background-color: #6833ff;
        }

    #ux & {
        background-color: #00e36d;
        }

    #prelast &,
    #last & {
        background-color: $color-red;
        }
    }
