@import 'merge';

.section__logo {
    width: 211px;
    height: 24px;
    top: $padding--40;
    right: $padding--20;
    left: $padding--20;
    position: absolute;

    background-image: image-url('logo_imaguru-red.png');
    background-repeat: no-repeat;
    background-position: 0 200px;

    overflow: visible;

    @include retina {
        background-image: image-url('logo_imaguru-red@2x.png');
        }

    @include screen-md {
        right: auto;
        left: $padding--40;
        }

    img {
        width: 100% !important;

        @include screen-md {
            width: auto;
            }
        }

    &[href]:hover {
        background-position: 50%;
        }

    &[href]:hover img {
        opacity: 0;
        }

    #next &,
    #html &,
    #ios &,
    #ux & {
        height: 44px;
        top: $padding--40 - 11px;
        }

    #tech & {
        height: 56px;
        top: $padding--40 - 16px;
        }

    .section.-passed & {
        position: absolute;

        @include screen-md {
            top: auto;
            bottom: $padding--40;
            }
        }

    .section.-active & {
        top: $padding--40;
        position: absolute;
        z-index: $z-index-9;

        @include screen-md {
            position: fixed;
            }
        }

    #next.section.-passed &,
    #html.section.-passed &,
    #ios.section.-passed &,
    #ux.section.-passed & {

        @include screen-md {
            top: auto;
            bottom: $padding--40 - 11px;
            }
        }

    #tech.section.-passed & {

        @include screen-md {
            top: auto;
            bottom: $padding--40 - 16px;
            }
        }
    }
