@import 'merge';

.section__text {
    .section.-fixed-prelast & {

        @include screen-md {
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;
            }
        }
    }
