@import 'merge';

.section {
    width: 100%;
    position: relative;
    z-index: $z-index-3;

    display: flex;
    flex-direction: column;

    &#prelast {
        z-index: $z-index-4;
        }

    @include screen-md {
        min-height: 100%;

        flex-direction: row;
        }
    }
