@import 'merge';

.header {
    top: $padding--30;
    right: $padding--30;
    position: fixed;
    display: none;
    z-index: $z-index-9;

    font-family: $font-velodroma;

    @include screen-md {
        display: block;
        }
    }
