@import 'merge';

.header__link {
    padding: $padding--10;
    display: inline-block;

    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;

    opacity: 0.6;

    &:hover {
        opacity: 1;
        }
    }
