@import 'merge';

.btn {
    height: 3.8rem;
    padding: 0 1rem;
    margin-top: $padding--27;
    display: inline-block;

    border: 2px solid $color-red;

    line-height: 4rem;
    font-size: 1.4rem;
    font-family: $font-velodroma-wide;
    color: $color-red;
    text-decoration: none;

    &:hover {
        background-color: $color-red;

        color: #fff;
        }

    &.-red {
        background-color: $color-red;

        color: #fff;
        }

    &.-red:hover {
        background-color: #fff;

        color: $color-red;
        }

    @include screen-md {
        margin-top: $padding--40;
        }
    }
