// Dimensions
    $padding--10: 10px;
    $padding--13: 13px;
    $padding--20: 20px;
    $padding--27: 27px;
    $padding--30: 30px;
    $padding--40: 40px;
    $padding--50: 50px;

// Fonts
    $font-main: Arial, sans-serif;
    $font-proxima: 'ProximaNova', $font-main;
    $font-velodroma: 'VelodromaBasic', Arial, sans-serif;
    $font-velodroma-wide: 'VelodromaBasicWide', Arial, sans-serif;

// Colors
    $color-red: #f34f30;
    $color-gray: #999;

// Z-indexes
    $z-index-1: 1 * 1000;
    $z-index-2: 2 * 1000;
    $z-index-3: 3 * 1000;
    $z-index-4: 4 * 1000;
    $z-index-5: 5 * 1000;
    $z-index-6: 6 * 1000;
    $z-index-7: 7 * 1000;
    $z-index-8: 8 * 1000;
    $z-index-9: 9 * 1000;
