section.section#prelast
  a.section__logo href="http://imaguru.es"
    = partial "views/partials/logo", locals: {url: "/assets/images/logo_imaguru-black"}

  .section__text.section__column
    .section__content
      h3.title.title--small.-red
        = t("last.info")

      h2.title.title--normal.-red
        = t("last.title")

      p.paragraph.-red
        = t("last.description")

      a.btn.-red href="#start"
        = t("get_on_board")

  .section__description.section__column
    .section__content
      h3.title.title--small.-white
        = t("last.text.share.title")

      p.paragraph.-white
        = t("last.text.share.text")

      h3.title.title--small.-white
        = t("last.text.practice.title")

      p.paragraph.-white
        = t("last.text.practice.text")

      h3.title.title--small.-white
        = t("last.text.network.title")

      p.paragraph.-white
        = t("last.text.network.text")
