section.section#tech
  .section__logo
    = partial "views/partials/logo", locals: {url: "/assets/images/logo_tech"}

  .section__text.section__column
    .section__content
      h3.title.title--small.-gray
        = t("tech.info")

      h2.title.title--normal
        = t("tech.title")

      p.paragraph
        = t("tech.description")

      a.btn href=""
        = t("apply_now")

  .section__description.section__column
    .section__content
      h3.title.title--small.-white.-translucency
        = t("programm")

      p.paragraph.-white
        = t("tech.text")
