section.section#ux
  .section__logo
    = partial "views/partials/logo", locals: {url: "/assets/images/logo_ux"}

  .section__text.section__column
    .section__content
      h3.title.title--small.-gray
        = t("ux.info")

      h2.title.title--normal
        = t("ux.title")

      p.paragraph
        = t("ux.description")

      a.btn href=""
        = t("apply_now")

  .section__description.section__column
    .section__content
      h3.title.title--small.-translucency
        = t("programm")

      p.paragraph
        = t("ux.text")
