section.section#start
  a.section__logo href="http://imaguru.es"
    = partial "views/partials/logo", locals: {url: "/assets/images/logo_imaguru-black"}

  .section__text.section__column
    .section__content
      h3.title.title--small.-red
        = t("preview.info")

      h2.title.title--normal.-red
        = t("preview.title")

      p.paragraph.-red
        = t("preview.description")

      a.btn href="#next"
        = t("view_courses")

  .section__description.section__column
    .section__content
      h3.title.title--small.-white.-translucency
        = t("upcoming_courses")

      ul.navigation
        li.navigation__item
          a.navigation__link href="#next"
            .navigation__name
              = t("next.link.title")

            .navigation__about
              = t("next.link.description")

        li.navigation__item
          a.navigation__link href="#html"
            .navigation__name
              = t("html.link.title")

            .navigation__about
              = t("html.link.description")

        li.navigation__item
          a.navigation__link href="#ios"
            .navigation__name
              = t("ios.link.title")

            .navigation__about
              = t("ios.link.description")

        li.navigation__item
          a.navigation__link href="#tech"
            .navigation__name
              = t("tech.link.title")

            .navigation__about
              = t("tech.link.description")

        li.navigation__item
          a.navigation__link href="#ux"
            .navigation__name
              = t("ux.link.title")

            .navigation__about
              = t("ux.link.description")
