section.section#html
  .section__logo
    = partial "views/partials/logo", locals: {url: "/assets/images/logo_html"}

  .section__text.section__column
    .section__content
      h3.title.title--small.-gray
        = t("html.info")

      h2.title.title--normal
        = t("html.title")

      p.paragraph
        = t("html.description")

      a.btn href=""
        = t("apply_now")

  .section__description.section__column
    .section__content
      h3.title.title--small.-translucency
        = t("programm")

      p.paragraph
        = t("html.text")

      p.paragraph
        dl.table
          dt
            = t("beginners")
            ' :

          dd
            = t("html.beginners")

          dt
            = t("middlers")
            ' :

          dd
            = t("html.middlers")

          dt
            = t("advanced_developers")
            ' :

          dd
            = t("html.advanced_developers")
