@import 'merge';

.table {
    line-height: 1.6rem;
    font-size: 1.2rem;
    font-family: $font-proxima;

    @include screen-md {
        line-height: 2.4rem;
        font-size: 1.8rem;
        }

    dt {
        font-weight: bold;

        @include screen-md {
            width: 160px;
            float: left;
            clear: left;

            font-weight: normal;
            }
        }

    dd {
        padding-bottom: 1.6rem;

        @include screen-md {
            padding-bottom: 2.4rem;
            margin-left: 160px;
            }
        }
    }
