@import 'merge';

.title {
    &.-white {
        color: #fff;
        }

    &.-red {
        color: $color-red;
        }

    &.-gray {
        color: $color-gray;
        }

    &.-translucency {
        opacity: 0.6;
        }
    }

.title--normal {
    margin-bottom: $padding--27;

    line-height: 2.9rem;
    font-size: 2.7rem;
    font-family: $font-velodroma;

    @include screen-md {
        margin-bottom: $padding--40;

        line-height: 4.4rem;
        font-size: 4rem;
        }
    }

.title--small {
    margin-bottom: $padding--20;

    line-height: 2rem;
    font-size: 1.6rem;
    font-family: $font-velodroma-wide;

    #prelast & {
        margin-bottom: $padding--20;
        }

    @include screen-md {
        margin-bottom: $padding--30;

        line-height: 1.3rem;
        font-size: 1.1rem;
        }
    }
