@import 'merge';

.paragraph {
    margin-bottom: $padding--13;

    line-height: 1.6rem;
    font-size: 1.2rem;
    font-family: $font-proxima;

    &.-red {
        color: $color-red;
        }

    &.-white {
        color: #fff;
        }

    #prelast & {
        margin-bottom: $padding--50;
        }

    @include screen-md {
        margin-bottom: $padding--20;

        line-height: 2.4rem;
        font-size: 1.8rem;
        }
    }
