doctype html
html
  head
    meta charset="utf8"

    title
      = "Imaguru Courses"

    meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"

    = inline_stylesheet "application"

  body
    header.header
      nav
          a.header__link href="" Facebook

          a.header__link href="" Contact us

    = yield

    = inline_javascript "application"
